<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-
              TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link href="./styles.css" rel="stylesheet" type="text/css">

        <title>Libros</title>
    </head>


    <body>
        <header>
            <h2>LIBRERIA EGG</h2>
            <h3 class="text-center"> LIBROS</h3>
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">LIBREGG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">


                    </ul>
                </div>
            </div>
        </ul>


    </div>
</div>
</nav>



<!--TABLA DE LIBROS-->
<table class="table table-dark table-striped" id="tablaLibro" >
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">ISBN</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col"> </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="libro : ${libros}">
            <td th:text = "${libro.titulo}" ></td>
            <td th:text = "${libro.isbn}" ></td>
            <td th:text = "${libro.autor.nombre}" ></td>
            <td th:text = "${libro.editorial.nombre}" ></td>
            <td > <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarLibro">Editar</button></td>
            <td > <button type="button" class="btn btn-danger">Dar Baja</button></td>
        </tr>
    </tbody>
</table>

<!-- Modal EDITAR LIBRO -->
<div class="modal fade" id="editarLibro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Libro</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/editarLibro" method="POST">

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label" >ISBN</label>
                        <input class="form-control" id="formGroupExampleInput" placeholder="isbn" name="isbn" th:value="${isbn}">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Titulo</label>
                        <input  class="form-control" id="formGroupExampleInput2" placeholder="titulo" name="titulo" th:value="${titulo}">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label" >Año</label>
                        <input class="form-control" id="formGroupExampleInput2" placeholder="año" name="anio" th:value="${anio}" >
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label" >Ejemplares</label>
                        <input class="form-control" id="formGroupExampleInput2" placeholder="ejemplares" name="ejemplares" th:value="${ejemplares}">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Autor</label>
                        <select class="form-control" name="idAutor" >
                            <option th:each="autor: ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Editorial</label>
                        <select class="form-control" name="idEditorial" >
                            <option th:each="editorial: ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>